.campaigns-wrapper {
    .campaigns-header {
      padding: 10px 0 0 10px;
      font-weight: 700;
    }
    .campaigns-list {
      display: flex;
      margin-top: 10px;
      &-item {
        margin-right: 20px;
        img {
          border-radius: 5px;
          width: 400px;
          height: 175px;
        }
  
      }
    } 
  }